h2 {
    font-size: 3rem;
}

li {
    display: flex;

    img {
        margin: 0 1rem 1rem 0;
        border-radius: 5%;
        align-self: flex-start;
    }

    p {
        .course {
            font-size: 2rem;
            line-height: normal;
        }

        .institution {
            font-weight: 700;
        }

        .education-page {
            display: block;
        }
    }
}

@media (min-width: 1900px) {
    .education-page {
        display: flex;
    }
}