nav {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0 2rem 0;
    background-color: purple;

    a {
        text-decoration: none;
        background-color: aqua;
        color: black;
        padding: 0.5rem;
        border-radius: 3%;
    }

    @media (max-width: 780px) {
        flex-direction: column;
        padding: 0 0 1rem 0;

        a {
            width: 50%;
            text-align: center;
            margin: 1rem auto;
        }
    }

    @media (max-width: 440px) {
        a {
            width: 90%;
        }
    }
}